﻿@model BusinessObjects.Entities.FlowerBouquet

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>FlowerBouquet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FlowerBouquetId" />
            <div class="form-group">
                <label asp-for="Category.CategoryName" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Category"></select>
@*                <span asp-validation-for="CategoryId" class="text-danger"></span>
*@            </div>
            <div class="form-group">
                <label asp-for="FlowerBouquetName" class="control-label"></label>
                <input asp-for="FlowerBouquetName" class="form-control" />
                <span asp-validation-for="FlowerBouquetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPrice" class="control-label"></label>
                <input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitsInStock" class="control-label"></label>
                <input asp-for="UnitsInStock" class="form-control" />
                <span asp-validation-for="UnitsInStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlowerBouquetStatus" class="control-label"></label>
                <input asp-for="FlowerBouquetStatus" class="form-control" />
                <span asp-validation-for="FlowerBouquetStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Supplier.SupplierName" class="control-label"></label>
                <select asp-for="SupplierId" class="form-control" asp-items="ViewBag.Supplier"></select>
@*                <span asp-validation-for="SupplierId" class="text-danger"></span>
*@            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
              <p>
                @if (ViewBag.Error is not null)
                {
                        <div class="text-danger">
                        @ViewBag.Error
                        </div>
                }
            </p>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}